*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    
  }
  nav{
    background: #4E9D54;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background-color: #11332D;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
   /* background: url("img/meram.jpg") no-repeat; */
   overflow: hidden;
    background-size: cover;
   
    height: calc(100vh - 80px);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
  }
  
 @media screen and (max-width:768px) {
    .slide-content{
        margin: 0 10px;
    }
 
 }
 html,
    body {
      overflow: hidden;
      position: relative;
      height: 100%;
    }

    body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      position: relative;
      text-align: center;
      font-size: 18px;
 
      background-size: cover;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .education-h1,
    .education-h4 {
      position: absolute;
      color: white; 
      text-align: left;
    }
    
    .education-h1 {
      font-size: 5vw; 
      top: 10%;
      left: 5%;
      color: yellow;
    }
    
    .education-h4 {
      font-size: 2.5vw;
      top: 20%;
      left: 5%;
      background-color: rgba(0, 0, 0, 0.5); 
      padding: 10px;
      border-radius: 8px;
    }
    /* Lightbox galeri stilleri */
    .container {
      width: 100%;
      min-height: 100vh;
      background: url("img/education.png") no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 8%;
    }
    
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 30px;
      position: absolute;
      top: 40%;
     left: 5%; 
     width: 40%; 
    }
    
    .gallery img {
      width: 100%;
      height: auto;
    }
    .container2{
      width: 100%;
      min-height: 100vh;
      background: url("img/meram.jpg") no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 8%;
    }
    .button {
      background-color: #4E9D54;
      color: #fff;
      padding: 30px;
      width: 300px;
      height: 80px;
      margin: 20px 0;
      border: none;
      border-radius: 100px;
      font-size: 32px;
      cursor: pointer;
      position: absolute;
      bottom: 700px; 
      left: 10%; 
      transform: translateX(-50%);
  }
  
  .button:hover {
      background-color: #11332D;
  }
  i{
    font-size: 200px;
    color: yellow;
    position: absolute;
    bottom: 300px; 
    left: 10%; 
    transform: translateX(-50%);
  }
  .address{
    font-size: 100px;
    position: absolute;
    bottom: 20px; 
    left: 300%; 
    transform: translateX(-50%);
    color: #fff;
  }
  .slide{
    background-color: #fff;
    position: fixed;
    top: 100px;
    right: 20px;
    padding: 100px;
    color: black;
    z-index: 1000; 
    
  }
  .logo{
  position: fixed;
  bottom: 200px;
  right: 900px;
  padding: 20px;
  color: black;
  z-index: 1000;
  }
  .bottom-text{
    position: fixed;
  bottom: 250px;
  right: 90px;
  padding: 20px;
  color: white;
  font-size: 100px;
  z-index: 1000;
   background-color: #4E9D54;
  }